.blue-section {
  background: #00552b;
  color: #fff;
  padding: 110px 0;

  .section-title {
    margin-bottom: 70px;
    text-align: center;
  }

  .feature-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    text-align: center;

    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .feature-box {
    h4 {
      font-size: clamp(18px, 2vw, 22px);
      margin: 18px 0 10px;
      font-weight: 700;
    }

    p {
      color: #f0f9eb;
      line-height: 1.7;
      font-size: 14px;
    }
  }
}
